name: example
description:  Sample app for the Extended Masked Text package.

publish_to: none

version: 1.0.0

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  extended_masked_text:
    path: ../
  flutter:
    sdk: flutter


dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true